{% import 'auth/macros.html' as macros %}

{% extends 'base.html' %}

{% block content %}
<div>
	<div>
		<legend>Register</legend>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<ul class="flashes">
				{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}<li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

		{% if form.errors %}
		<ul class="form-errors">
		{% for field, error in form.errors.items() %}
			{% for e in error %}
			<li>{{ e }}</li>
			{% endfor %}
		{% endfor %}
		</ul>
		{% endif %}

		<form method="POST" action="">
			{{ form.csrf_token }}
			{{ macros.render_field(form.email, placeholder="Your Email Address", autofocus="") }}
			{{ macros.render_field(form.password, placeholder="Password") }}
			{{ macros.render_field(form.confirm_password, placeholder="Confirm Password") }}
			<button type="submit" name="submit">Register</button>
		</form>

	</div>
</div>
{% endblock %}