DB_USER=placeholder
DB_PASSWORD=placeholder
DB_DATABASE=placeholder
DB_HOST=localhost

MAIL_SERVER=smtp.mandrillapp.com
MAIL_PORT=587
MAIL_USERNAME=placeholder
MAIL_PASSWORD=placeholder
MAIL_SENDER=placeholder