{% from 'mod_auth/macros.html' import render_field %}

{% extends 'base.html' %}

{% block content %}
<div>
	<div>
		<legend>Login</legend>
		{% with errors = get_flashed_messages(category_filter=["error"]) %}
		{% if errors %}
		<div>
			{% for error in errors %}
			{{ error }}<br>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}

		{% if form.errors %}
		<div>
		{% for field, error in form.errors.items() %}
			{% for e in error %}
			{{ e }}<br>
			{% endfor %}
		{% endfor %}
		</div>
		{% endif %}
		<form method="POST" action="">
			{{ form.csrf_token }}
			{{ render_field(form.email, placeholder="Your Email Address", autofocus="") }}
			{{ render_field(form.password, placeholder="Password") }}
			<div>
				<label>
					<input type="checkbox" name="remember" value="1"> Remember Me
				</label>
				<a role="button" href="">Forgot your password?</a>
				<span class="clearfix"></span>
			</div>
			<button type="submit" name="submit">Log in</button>
		</form>
	</div>
</div>
{% endblock %}