{% from 'mod_auth/macros.html' import render_field %}

{% extends 'base.html' %}

{% block content %}
<div>
	<div>
		<legend>Register</legend>
		{% with errors = get_flashed_messages() %}
		{% if errors %}
		<div>
			{% for error in errors %}
			{{ error }}<br>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}

		{% if form.errors %}
		<div>
		{% for field, error in form.errors.items() %}
			{% for e in error %}
			{{ e }}<br>
			{% endfor %}
		{% endfor %}
		</div>
		{% endif %}

		<form method="POST" action="">
			{{ form.csrf_token }}
			{{ render_field(form.email, placeholder="Your Email Address", autofocus="") }}
			{{ render_field(form.password, placeholder="Password") }}
			{{ render_field(form.confirm_password, placeholder="Confirm Password") }}
			<button type="submit" name="submit">Register</button>
		</form>

	</div>
</div>
{% endblock %}