{% extends "bootstrap/base.html" %}

{% block title %}
	{{ page_title() }}
{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block navbar %}
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-collapse collapse">
				{% if current_user.is_authenticated() %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('auth.user') }}">{{ current_user.username }}</a></li>
					<li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('auth.login') }}">Log in</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		{% for message in get_flashed_messages() %}
		<div class="alert">
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% block page_content %}{% endblock %}
{% endblock %}
